{
	extends: ["stylelint-prettier/recommended", "stylelint-config-sass-guidelines"],
	rules: {
		"declaration-no-important": true,
		"declaration-empty-line-before": null,
		"at-rule-no-unknown": null,
    "max-nesting-depth": [
      3,
      {
        "ignoreAtRules": [
          "each",
          "media",
          "supports",
          "include"
        ]
      }
    ]
	}
}
